.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 20%;
  height: 10%;
  font-size: 2rem;
  color: #909090;
  border: 2px dotted #909090;
  border-radius: 50px;
  background-color: #e5e5e5;
  fill: #909090;
}

.container:hover {
  color: #525252;
  border-color: #525252;
  fill: #525252;
}
